<!doctype html>
<html lang="en">


<head>
    <title>Kino - Earn Kin for the spending you do everyday</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Font -->
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <!-- Main css -->
    <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">

</head>

<body>
    <header class="bg-gradient" id="home">
        <div class="container mt-5">
            <div><img src="{{ url_for('static',filename='images/logo.png') }}" width="160" height="90" style="margin-bottom:24px;" ></div>
            <h1>Thank you!</h1>
            <p class="tagline">We have added your email address to the waitlist. We will let you know as soon as we are ready.</p>
            <form action="mailto:waterloodevs@gmail.com">
                <input type="submit" value="Contact Us" class="button">
            </form>

        </div>
    </header>



</body>

</html>
